.welcome-card ion-img {
  max-height: 30vh;
  overflow: hidden;
}
.welcome-card-phone ion-img {
  height: 30vh;
  overflow: hidden;
}
.trend-card {
  height: 400px;
  box-shadow: var(--box-shadows-trend);
}
.trend-card-phone {
  box-shadow: var(--box-shadows-trend);
}
.news-card {
  height: 400px;
  /* box-shadow: 13px 14px 13px 0px rgba(32, 32, 35, 0.1); */
}
.no-padding {
  padding: 0% !important;
}
.wrap-text-2lines {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  line-height: 16px; /* fallback */
  max-height: 32px; /* fallback */
  -webkit-line-clamp: 2; /* number of lines to show */
  -webkit-box-orient: vertical;
}
.wrap-title-2lines {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  line-height: 20px; /* fallback */
  max-height: 40px; /* fallback */
  -webkit-line-clamp: 2; /* number of lines to show */
  -webkit-box-orient: vertical;
}
.pill {
  background-color: #efefef;
  border-radius: 15px;
  border: 1px solid;
}
.toggle-box{
  display: flex;
  flex-direction: row-reverse;
}
.img-toggle{
  width: 30px;
  margin-right: 3%;
}

